<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "photo.JPG", width: '200px' %>
	</div>

	<div id="content">
		<h1>Hello, I'm Sylvia Yeoh</h1>
		<p> Welcome to my blog that I had built using Ruby on Rails!</p>
		I'm 25 this year and have lived in both Melbourne & Singapore. I have a passion for creating beautiful photgraphic memories and uniquely personal stories revolving around the topics on travel & lifestyle. 
		<br>
		<br>
		Feel free to click around to find out more :)
		<br>
		</div>
</div>